<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    <h1>
        Steam game browser
    </h1>
    <p>
        Choose range and sorting rules.
    </p>
    <form action="/result" method="POST">
        Enter search range:<br>
        <label for="priceLower">Price: from</label>
        <input type="number" name = priceLower min = "0" max="999" step="0.01" value="0">
        <label for="priceUpper">to</label>
        <input type="number" name = priceUpper min = "0" max="999" step="0.01" value="999"><br>
        <label for="priceLower">Released date: from</label>
        <input type="date" name = dateLower value="1970-01-01">
        <label for="priceUpper">to</label>
        <input type="date" name = dateUpper value="2023-01-01"><br>
        <label for="ratingLower">Rating: from</label>
        <input type="number" name = ratingLower min = "0" max="100" value="0">
        <label for="ratingUpper">to:</label>
        <input type="number" name = ratingUpper min = "0" max="100" value="100"><br>
        <br>
        Order by:<br>
        <input type="radio" name="sort" value="priceDescending" required="required">Price Descending
        <input type="radio" name="sort" value="dateDescending">Date Descending
        <input type="radio" name="sort" value="ratingDescending">Rating Descending<br>
        <input type="radio" name="sort" value="priceAscending">Price Ascending
        <input type="radio" name="sort" value="dateAscending">Date Ascending
        <input type="radio" name="sort" value="ratingAscending">Rating Ascending<br>
        <input type="radio" name="sort" value="nosort">None
		<br>
        <input type="checkbox" name="discount" value="discount">Select discount<br>
		<button type="submit" id="sort">Search</button>
	</form>
    <p>
        <a href='/'>Reset</a>.
    </p>
</body>
    