<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    <h1>
        Steam game browser
    </h1>
    <form action="/result" method="POST">
        Enter search range:<br>
        <label for="priceLower">Price: from</label>
        <input type="number" name = priceLower min = "0" max="999" step="0.01" value="0">
        <label for="priceUpper">to</label>
        <input type="number" name = priceUpper min = "0" max="999" step="0.01" value="999"><br>
        <label for="priceLower">Released date: from</label>
        <input type="date" name = dateLower value="1970-01-01">
        <label for="priceUpper">to</label>
        <input type="date" name = dateUpper value="2024-01-01"><br>
        <label for="ratingLower">Rating: from</label>
        <input type="number" name = ratingLower min = "0" max="100" value="0">
        <label for="ratingUpper">to:</label>
        <input type="number" name = ratingUpper min = "0" max="100" value="100"><br>
        <label for="reviewLower">Review count: from</label>
        <input type="number" name = reviewLower min = "0" max="9999999" value="0">
        <label for="reviewUpper">to:</label>
        <input type="number" name = reviewUpper min = "0" max="9999999" value="9999999"><br>
        <br>
        Sort by:<br>
        <select name="sort" required="True">
            <option value="nosort">None</option>
            <option value="priceDescending">Price Descending</option>
            <option value="priceAscending">Price Ascending</option>
            <option value="dateDescending">Date Descending</option>
            <option value="dateAscending">Date Ascending</option>
            <option value="ratingDescending">Rating Descending</option>
            <option value="ratingAscending">Rating Ascending</option>
            <option value="reviewDescending">Review Descending</option>
            <option value="reviewAscending">Review Ascending</option>
        </select>
		<br>
        <input type="checkbox" name="discount" value="discounted">Specials offers only<br>
        <br>
		<button type="submit" id="sort">Search</button>
	</form>
    <p>
        <a href='/'>Reset</a>
    </p>
</body>
    